// font import
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

h1, h2, h3, h4 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -2.5;
}

h2 {
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -2.14;
}

h3 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -1.79;
}

h4 {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.07;
}

p {
  font-size: 16px;
  line-height: 25px;
}

.bold {
  font-size: 16px;
  line-height: 25px;
  font-weight: bolder;
}

.pseudo {
  font-size: 8px;
  line-height: 8px;
}

// Mobile Width
@mixin sizeBody {
  min-width: 375px;
  max-width: 425px;
  max-height: 820px;
  margin: auto;
  overflow: auto;
  box-sizing: border-box;
}

// Variables de grid

$containerGrid: 1fr 12fr 1fr;
$childColumn: 2;

// Variable padding
$sectionPadding: 32px;
$blockPadding: 16px;
$elementPadding: 8px;

// Variable pour le body
@mixin sizeBody {
  min-width: 375px;
  max-width: 425px;
  max-height: 820px;
  margin: auto;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);

  ::-webkit-scrollbar {
    display: none;
  }
}

// Nunito
@mixin Nunito {
  font-family: "Nunito";
}

h1, h2, h3, h4 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -2.5;
}

h2 {
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -2.14;
}

h3 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -1.79;
}

h4 {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.07;
}

p {
  font-size: 16px;
  line-height: 25px;
}

.bold {
  font-size: 16px;
  line-height: 25px;
  font-weight: bolder;
}

.pseudo {
  font-size: 8px;
  line-height: 8px;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
