<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Profile - Animap</title>
    <link href="../styles/profile/profile.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header class="catHeader__container">
        <img alt="Orange flat-designed header cat" src="../styles/media/profile/catProfile.svg" />
      </header>
      <main>
        <section class="basicUserData__container">
          <div class="basicUserData__usernameBlock">
            <h4 class="basicUserData__usernameBlock__username">Username</h4>
            <p class="basicUserData__usernameBlock__catchPhrase">This is You</p>
          </div>

          <div class="basicUserData__personalDataBlock">
            <div class="basicUserData__personalDataBlock__userNumberBlock">
              <div class="basicUserData__personalDataBlock__userNumberBlock__textContent">
                <p class="bold">Number</p>
                <p class="text">(+32)6 55 52 72 55</p>
              </div>

              <hr />
            </div>

            <div class="basicUserData__personalDataBlock__userMailBlock">
              <div class="basicUserData__personalDataBlock__userMailBlock__textContent">
                <p class="bold">Email</p>
                <p class="text">imNotDistressed@gmail.com</p>
              </div>
              <hr />
            </div>
          </div>
        </section>

        <section class="yourPets__container">
          <h4 class="yourPets__title">Your Pets</h4>

          <div class="yourPets__listContainer">
            <ul>
              <li class="yourPets__listItem">
                <div class="yourPets__listItem__imgContainer">
                  <img alt="YourPet" src="../styles/media/profile/pixel.jpg" />
                </div>

                <div class="yourPets__listItem__textContainer">
                  <p class="bold">Pixel</p>

                  <div class="yourPets__listItem__infos">
                    <div class="yourPets__listItem__infos__imgContainer">
                      <img alt="stopwatch" src="../styles/media/icons/stopwatch-solid.svg" />
                    </div>
                    <p class="yourPets__listItem__infos__date">01 May 2021 00:00</p>

                    <div class="yourPets__listItem__infos__imgContainer">
                      <img alt="location Dot" src="../styles/media/icons/location-dot-solid.svg" />
                    </div>
                    <p class="yourPets__listItem__infos__adress">North Jillian</p>
                  </div>
                </div>
              </li>

              <li class="yourPets__listItem">
                <div class="yourPets__listItem__imgContainer">
                  <img alt="YourPet" src="../styles/media/profile/pixel.jpg" />
                </div>

                <div class="yourPets__listItem__textContainer">
                  <p class="bold">Pixel</p>

                  <div class="yourPets__listItem__infos">
                    <div class="yourPets__listItem__infos__imgContainer">
                      <img alt="stopwatch" src="../styles/media/icons/stopwatch-solid.svg" />
                    </div>
                    <p class="yourPets__listItem__infos__date">01 May 2021 00:00</p>

                    <div class="yourPets__listItem__infos__imgContainer">
                      <img alt="location Dot" src="../styles/media/icons/location-dot-solid.svg" />
                    </div>
                    <p class="yourPets__listItem__infos__adress">North Jillian</p>
                  </div>
                </div>
              </li>

              <li class="yourPets__listItem">
                <div class="yourPets__listItem__imgContainer">
                  <img alt="YourPet" src="../styles/media/profile/pixel.jpg" />
                </div>

                <div class="yourPets__listItem__textContainer">
                  <p class="bold">Pixel</p>

                  <div class="yourPets__listItem__infos">
                    <div class="yourPets__listItem__infos__imgContainer">
                      <img alt="stopwatch" src="../styles/media/icons/stopwatch-solid.svg" />
                    </div>
                    <p class="yourPets__listItem__infos__date">01 May 2021 00:00</p>

                    <div class="yourPets__listItem__infos__imgContainer">
                      <img alt="location Dot" src="../styles/media/icons/location-dot-solid.svg" />
                    </div>
                    <p class="yourPets__listItem__infos__adress">North Jillian</p>
                  </div>
                </div>
              </li>

              <li class="yourPets__listItem">
                <div class="yourPets__listItem__imgContainer">
                  <img alt="YourPet" src="../styles/media/profile/pixel.jpg" />
                </div>

                <div class="yourPets__listItem__textContainer">
                  <p class="bold">Pixel</p>

                  <div class="yourPets__listItem__infos">
                    <div class="yourPets__listItem__infos__imgContainer">
                      <img alt="stopwatch" src="../styles/media/icons/stopwatch-solid.svg" />
                    </div>
                    <p class="yourPets__listItem__infos__date">01 May 2021 00:00</p>

                    <div class="yourPets__listItem__infos__imgContainer">
                      <img alt="location Dot" src="../styles/media/icons/location-dot-solid.svg" />
                    </div>
                    <p class="yourPets__listItem__infos__adress">North Jillian</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="yourPets__addPet">
            <button>Add A Pet</button>
          </div>
        </section>
      </main>

      <!-- Conteneur pour le footer -->
      <div id="footer-placeholder"></div>
      <script src="../footer/loadFooter.js"></script>
    </div>
  </body>
</html>
