<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../styles/footer/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-container">
        <button class="footer-button">
          <img src="../images/footer/backButton.svg" alt="Back" />
        </button>
        <button class="footer-button">
          <img src="../images/footer/callButton.svg" alt="Phone" />
        </button>
        <button class="footer-button center-button">
          <img src="../images/footer/vector.svg" alt="Add" />
        </button>
        <button class="footer-button">
          <img src="../images/footer/noIdea.svg" alt="Help" />
        </button>
        <button class="footer-button">
          <img src="../images/footer/profileButton.svg" alt="User" />
        </button>
      </div>
    </footer>
  </body>
</html>
